body{
    font-family: sans-serif;
}

.wrapper{
    margin: 0 auto;
    width: 900px;
}

.col-sm{
    width: 50%;
    float: left;
}

@media screen and (max-width:1024px){
    .col-sm{
        width: 100%;
        background-color: darkblue;
    }
}

.imagen01{
    width: 100%;
    max-width: 900px;
    min-width: 400px;
}